
$bg: #F9F8F7;

$yellow: #FAB131;
$dark: #2F2F2F;

$text-dark: #54575A;
$text-light: #6e7272;
$text-lighter: #909090;
$greyscale: #bfbdbb;

$orange: #F35528;
$bluegreen: #78B4B5;
$drygreen: #BBC9B4;

$primary:#FAB131;
$danger: #F35528;