$bg: #f1f1f1;

$dark: #2f2f2f;
$text-dark: #54575a;
$text-light: #6e7272;
$text-lightest: #ccc;
$bluegreen: #78b4b5;

$theme-colors: (
  "primary": #fb615c,
  "primary-one": #489577
);

$cu-primary: #fb615c;
$cu-primary-one: #489577;
$satin: #e7e1db;
