@import "colors";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,400i,500,500i,700");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");

.page-main {
  padding-top: 50px;
}

@import "~bootstrap/scss/bootstrap.scss";

body {
  font-family: "Roboto", sans-serif;
  background-color: $bg;
  color: $text-dark;
}

// a {
//   cursor: pointer;
//   color: $apricot;
// }

.btn-primary,
.btn-primary:hover {
  color: #fff;
}

.btn {
  border-radius: 9999px !important;
  padding-left: 2rem;
  padding-right: 2rem;
}

#loading-spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(120, 180, 181, 0.3);
  border-radius: 50%;
  border-top-color: $bluegreen;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
