@import 'colors';

h5 {
  text-align: center;
}

.jumbotron{
  background-position: center; 
}


@media (min-width: 601px) {
  .jumbotron {
    background: url('../assets/img/banner_md.jpg');
    background-position: center;
    height: 50vh;
    color: $dark;
    h1{
      padding-top: 5vh;
      
    }
  }
}

@media (min-width: 900px) {
  .jumbotron {
    background: url('../assets/img/banner_lg.jpg');
    background-position: center; 
    height: 60vh;
    color: $dark;
    h1{
      padding-top: 10vh;
    }
  }
}

@media (max-width: 600px) {
  .jumbotron {      
     background: url('../assets/img/banner_sm.jpg');
     background-position: center; 
     height: 50vh;
     color: $dark;
     h1{
      padding-top: 5vh;
    }
  }
}

.landing-footer{
  background-color: $bluegreen;
  min-height: 75px;
}