@import "colors";

h5 {
  text-align: center;
}

.jumbotron {
  background-position: center;
  color: #fff;
  border-radius: 0 !important;
}

@media (max-width: 600px) {
  .jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../assets/img/banner_md.jpg");
    background-position: center;
    height: 50vh;
    h1 {
      padding-top: 5vh;
    }
  }
}

@media (min-width: 601px) {
  .jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../assets/img/banner_md.jpg");
    background-position: center;
    height: 50vh;
    h1 {
      padding-top: 5vh;
    }
    p {
      font-size: 1.2em;
    }
  }
}

@media (min-width: 900px) {
  .jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../assets/img/banner_lg.jpg");
    background-position: center;
    height: 60vh;
    h1 {
      padding-top: 10vh;
      font-size: 60px;
    }
    p {
      font-size: 1.5em;
    }
  }
}

.sm-card-container {
  overflow-x: hidden;
  width: 100%;
  .sm-card-container-scollable {
    width: 1500px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    .sm-card-landing {
      display: inline;
    }
  }
}

.landing-notes {
  background-color: $cu-primary-one;
  padding-top: 30px;
  padding-bottom: 30px;
  .card {
    border: 1px solid #fff;
    color: #fff;
    background-color: $cu-primary-one;
    margin-bottom: 20px;
  }
}

.landing-footer {
  background-color: $bluegreen;
  min-height: 75px;
  color: #fff;
  font-size: 12px;
  padding: 20px;
}

.card-img-left {
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
  float: left;
  padding-right: 1em;
  margin-bottom: -1.25em;
}

.recommended-caption {
  padding: 8px;
  color: #fff;
  height: 70px;
  margin-top: -70px;
  .recommended-title {
    margin-bottom: 4px;
  }

  .recommended-text {
    font-size: 14px !important;
  }
}

.landing-modal {
  padding: 30px;
  button {
    margin: 10px 10px;
  }
}
