@import "colors";

.bg-light {
  background-color: #fff !important;
}

.navbar-brand {
  color: $cu-primary-one !important;
  font-family: "Baloo Bhai", sans-serif;
  font-weight:700;
  padding: 0 !important;
  font-size: 25px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (min-width: 768px) {
    font-size: 40px !important;
  }
}

svg.logo-icon {
  margin-top: -9px;
  width: 25px;
  margin-right: 5px;
  @media (min-width: 768px) {
    width: 40px;
    margin-top: -15px;
  }
  path {
    stroke: $cu-primary-one;
    fill: #fff;
  }
}
