@import "colors";

.bg-light {
  background-color: #fff !important;
}

.navbar-brand {
  color: $cu-primary-one !important;
  font-family: "Abril Fatface", sans-serif;
  padding: 0 !important;
  font-size: 25px !important;
  @media (min-width: 768px) {
    font-size: 40px !important;
  }
}
