@import "colors";

.page-main {
    padding-top: 30px;
  }

.panel-left {
    .panel-left-sub{
        border-top: 2px solid $text-lightest;
        padding: 15px 0 25px;
    }
    h5{
        text-align: left;
    }
}