
.radio-piece {
  
  display: inline-block;
  label {

    width: 100%;
    height: 40px; ;
    border: 1px solid #aaa;
    cursor: pointer;
  }

  input[type=radio]{
    visibility: hidden;
    float: left;
  }


  input[type=radio] + .radio-body {
    height: 100%;
    font-weight: 400;
  } 

  input[type=radio] + .radio-body {
    background: #eee;
  } 
  input[type=radio]:checked + .radio-body {
    background: blue;
  } 

}