@import "colors";

.radio-piece {

  margin-bottom: 15px;

  label {
    width: 100%;

    border-radius: 0.5em;
    height: 100%;
    cursor: pointer;
  }

  &.single-info {
    vertical-align: middle;
    font-size: 1em;
    .radio-body {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5em;
      height: 40px;
      border: 1px solid #ddd;
    }
  }

  &.multi-info {
    .radio-body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 0.5em;
      height: 40px;
      border: 1px solid #ddd;
    }
    .option-title {
      font-size: 1em;
    }
    .option-desc {
      font-size: 0.8em;
      padding: 3px;
    }
  }

  input {
    position: fixed;
  }

  input[type="radio"] {
    visibility: hidden;
    float: left;
  }

  input[type="radio"] + .radio-body {
    height: 100%;
    font-weight: 400;
    border: 1px solid $cu-primary-one;
    background: #fff;
    color: $cu-primary-one;
    transition: transform 300ms ease;
  }


  input[type="radio"]:checked + .radio-body {
    border: 1px solid $cu-primary-one;
    background: $cu-primary-one;
    font-weight: 400;
    color: #fff;
    transform: scale(1.1, 1.1);
  }

  input[type="checkbox"] {
    visibility: hidden;
    float: left;
  }

  input[type="checkbox"] + .radio-body {
    height: 100%;
    font-weight: 400;
    border: 1px solid $cu-primary-one;
    background: #fff;
    color: $cu-primary-one;
    transition: transform 300ms ease;
  }

  input[type="checkbox"]:checked + .radio-body {
    border: 2px solid $cu-primary-one;
    background: $cu-primary-one;
    font-weight: 400;
    color: #fff;
    transform: scale(1.1, 1.1);
  }
}
